<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:name="in.juspay.mobility.MainApplicationConsumer">
        <activity
            android:name="in.juspay.mobility.MainActivity"
            android:exported="true"
            android:largeHeap="true"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="manayatri.in"/>
                <data android:path="/u" />
                <data android:path="/refer" />
            </intent-filter>
        </activity>
    </application>
</manifest>