imports:
  Merchant: Domain.Types.Merchant
  MerchantOperatingCity: Domain.Types.MerchantOperatingCity
  EmailOTPConfig: Email.Types
  KaptureConfig: IssueManagement.Common
  ExotelMapping: Domain.Types.Extra.RiderConfig
  Value: Data.Aeson
  NominalDiffTime: Kernel.Prelude
  Seconds: Kernel.Types.Common
  CxAgentDetails: IssueManagement.Common
  GeneralVehicleType: Kernel.External.MultiModal.Interface.Types

RiderConfig:
  tableName: rider_config

  derives: "Show, Generic, ToJSON, FromJSON,Eq"

  fields:
    merchantOperatingCityId: Id MerchantOperatingCity
    enableLocalPoliceSupport: Bool
    metroBookingAllowed: Maybe Bool
    localPoliceNumber: Maybe Text
    enableSupportForSafety: Bool
    videoFileSizeUpperLimit: Int
    timeDiffFromUtc: Seconds
    enableEmergencyContactAddedMessage: Bool
    safetyCheckStartTime: Seconds
    safetyCheckEndTime: Seconds
    trackingShortUrlPattern: Text
    specialZoneRadius: Int
    appUrl: Text
    collectAutoCompleteData: Maybe Bool
    distanceWeightage: Int
    collectMMIRouteData: Maybe Bool
    isAvoidToll: Bool
    autoUnblockSafetyCenterAfterDays: Int
    placeNameCacheExpiryDays: Maybe Int
    bookingSyncStatusCallSecondsDiffThreshold: Maybe Int
    kaptureQueue: Text # deprecated
    kaptureConfig: IssueManagement.Common.KaptureConfig
    emailOtpConfig: Maybe Email.Types.EmailOTPConfig
    ivrTriggerDelay: NominalDiffTime
    executePaymentDelay: NominalDiffTime
    cancellationPaymentDelay: NominalDiffTime
    policeTriggerDelay: NominalDiffTime
    exotelAppIdMapping: Maybe ExotelMapping
    hardLimitForSafetyJobs: Int
    exotelStatusCheckSchedulerDelay: Int
    incidentReportSupport: Bool
    settleCancellationFeeBeforeNextRide: Maybe Bool
    cxAgentDetails: "Maybe [CxAgentDetails]"
    csAlertTriggerDelay: NominalDiffTime
    avgSpeedInKmPerHr: Kilometers
    sensitiveWords: "Maybe [Text]"
    sensitiveWordsForExactMatch: "Maybe [Text]"
    payoutBatchSize: Maybe Int
    payoutBatchDelay: NominalDiffTime
    makeMultiModalSearch: Bool
    maximumWalkDistance: Meters
    minimumWalkDistance: Meters
    permissibleModes: "Maybe [GeneralVehicleType]"
    maxAllowedPublicTransportLegs: Int
    driverReferredSearchReqExpiry: Maybe Seconds
    dynamicLogicUpdatePassword: Text
    feedbackAlertRatingThreshold: Int
    postRideSafetyNotificationDelay: NominalDiffTime
    useUserSettingsForSafetyIVR: Bool
    payoutReferralProgram: Bool
    payoutReferralStartDate: UTCTime
    thresholdCancellationPercentageToBlock: Maybe Int
    minRidesToBlock: Maybe Int
    minRidesToShowCancellationRate: Maybe Int
    autoSendBookingDetailsViaWhatsapp: Maybe Bool
    multimodalTesting: Bool
    isFirstReferredRideEnabled: Bool

  beamType:
    ivrTriggerDelay: Maybe Seconds
    policeTriggerDelay: Maybe Seconds
    hardLimitForSafetyJobs: Maybe Seconds
    exotelStatusCheckSchedulerDelay: Maybe Seconds
    incidentReportSupport: Maybe Bool
    csAlertTriggerDelay: Maybe Seconds
    avgSpeedInKmPerHr: Maybe Kilometers
    payoutBatchDelay: Maybe Seconds
    executePaymentDelay: Maybe Seconds
    cancellationPaymentDelay: Maybe Seconds
    makeMultiModalSearch: Maybe Bool
    maximumWalkDistance: Maybe Meters
    minimumWalkDistance: Maybe Meters
    maxAllowedPublicTransportLegs: Maybe Int
    dynamicLogicUpdatePassword: Maybe Text
    feedbackAlertRatingThreshold: Maybe Int
    postRideSafetyNotificationDelay: Maybe Seconds
    useUserSettingsForSafetyIVR: Maybe Bool
    payoutReferralProgram: Maybe Bool
    multimodalTesting: Maybe Bool
    payoutReferralStartDate: Maybe UTCTime
    isFirstReferredRideEnabled: Maybe Bool

  constraints:
    merchantOperatingCityId: PrimaryKey

  intermediateTransformers:
    fromTType:
      - now: Kernel.Types.Common.getCurrentTime|EM
      - payoutReferralStartDate_: fromMaybe now payoutReferralStartDate|E
  fromTType:
    ivrTriggerDelay: fromMaybe 3000 (Kernel.Utils.Common.secondsToNominalDiffTime <$> ivrTriggerDelay)|E
    executePaymentDelay: fromMaybe 60 (Kernel.Utils.Common.secondsToNominalDiffTime <$> executePaymentDelay)|E
    cancellationPaymentDelay: fromMaybe 60 (Kernel.Utils.Common.secondsToNominalDiffTime <$> cancellationPaymentDelay)|E
    policeTriggerDelay: fromMaybe 60 (Kernel.Utils.Common.secondsToNominalDiffTime <$> policeTriggerDelay)|E
    hardLimitForSafetyJobs: fromMaybe 21600 ((.getSeconds) <$> hardLimitForSafetyJobs)|E
    exotelStatusCheckSchedulerDelay: maybe 120 (.getSeconds) exotelStatusCheckSchedulerDelay|E
    incidentReportSupport: fromMaybe False incidentReportSupport|E
    csAlertTriggerDelay: fromMaybe 60 (Kernel.Utils.Common.secondsToNominalDiffTime <$> csAlertTriggerDelay)|E
    avgSpeedInKmPerHr: fromMaybe 20 avgSpeedInKmPerHr|E
    payoutBatchDelay: fromMaybe 10 (Kernel.Utils.Common.secondsToNominalDiffTime <$> payoutBatchDelay)|E
    makeMultiModalSearch: fromMaybe False makeMultiModalSearch|E
    maximumWalkDistance: fromMaybe (600) maximumWalkDistance|E
    minimumWalkDistance: fromMaybe (100) minimumWalkDistance|E
    maxAllowedPublicTransportLegs: fromMaybe (2) maxAllowedPublicTransportLegs|E
    dynamicLogicUpdatePassword: fromMaybe "dummy-password" dynamicLogicUpdatePassword|E
    feedbackAlertRatingThreshold: fromMaybe 3 feedbackAlertRatingThreshold|E
    postRideSafetyNotificationDelay: fromMaybe 60 (Kernel.Utils.Common.secondsToNominalDiffTime <$> postRideSafetyNotificationDelay)|E
    useUserSettingsForSafetyIVR: fromMaybe False useUserSettingsForSafetyIVR|E
    payoutReferralProgram: fromMaybe False payoutReferralProgram|E
    payoutReferralStartDate: payoutReferralStartDate_|E
    multimodalTesting: fromMaybe False multimodalTesting|E
    isFirstReferredRideEnabled: fromMaybe False isFirstReferredRideEnabled|E

  toTType:
    ivrTriggerDelay: (Just . Kernel.Utils.Common.nominalDiffTimeToSeconds)|I
    executePaymentDelay: (Just . Kernel.Utils.Common.nominalDiffTimeToSeconds)|I
    cancellationPaymentDelay: (Just . Kernel.Utils.Common.nominalDiffTimeToSeconds)|I
    policeTriggerDelay: (Just . Kernel.Utils.Common.nominalDiffTimeToSeconds)|I
    hardLimitForSafetyJobs: Just $ Kernel.Types.Common.Seconds hardLimitForSafetyJobs|E
    exotelStatusCheckSchedulerDelay: Just $ Kernel.Types.Common.Seconds exotelStatusCheckSchedulerDelay|E
    incidentReportSupport: Just incidentReportSupport|E
    csAlertTriggerDelay: (Just . Kernel.Utils.Common.nominalDiffTimeToSeconds)|I
    avgSpeedInKmPerHr: Just avgSpeedInKmPerHr|E
    payoutBatchDelay: (Just . Kernel.Utils.Common.nominalDiffTimeToSeconds)|I
    makeMultiModalSearch: Just makeMultiModalSearch|E
    maximumWalkDistance: Just maximumWalkDistance|E
    minimumWalkDistance: Just minimumWalkDistance|E
    maxAllowedPublicTransportLegs: Just maxAllowedPublicTransportLegs|E
    dynamicLogicUpdatePassword: Just dynamicLogicUpdatePassword|E
    feedbackAlertRatingThreshold: Just feedbackAlertRatingThreshold|E
    postRideSafetyNotificationDelay: (Just . Kernel.Utils.Common.nominalDiffTimeToSeconds)|I
    useUserSettingsForSafetyIVR: Just useUserSettingsForSafetyIVR|E
    payoutReferralProgram: Just payoutReferralProgram|E
    payoutReferralStartDate: Just payoutReferralStartDate|E
    multimodalTesting: Just multimodalTesting|E
    isFirstReferredRideEnabled: Just isFirstReferredRideEnabled|E

  default:
    enableLocalPoliceSupport: "false"
    enableSupportForSafety: "false"
    videoFileSizeUpperLimit: "15000000"
    enableEmergencyContactAddedMessage: "true"
    appUrl: "'nammayatri.in/link/rider/rmxw'"
    timeDiffFromUtc: "19800"
    safetyCheckStartTime: "75600"
    safetyCheckEndTime: "21600"
    trackingShortUrlPattern: "'nammayatri.in/t/'"
    specialZoneRadius: "150"
    distanceWeightage: "70"
    isAvoidToll: "true"
    autoUnblockSafetyCenterAfterDays: "14"
    kaptureQueue: "''"
    kaptureConfig: '''{"kaptureQueue":"", "disposition":""}'''
    exotelStatusCheckSchedulerDelay: "120"
    avgSpeedInKmPerHr: "20"
    makeMultiModalSearch: "false"
    maximumWalkDistance: "600"
    minimumWalkDistance: "100"
    permissibleModes: "'{Walk, Bus, MetroRail, Subway}'"
    maxAllowedPublicTransportLegs: "2"
    postRideSafetyNotificationDelay : "60"
    useUserSettingsForSafetyIVR: "false"
    payoutReferralProgram: "false"
    payoutReferralStartDate: "'2024-12-20 12:00:00.000000+00'"
    multimodalTesting: "false"

  queries:
    findByMerchantOperatingCityId:
      kvFunction: findOneWithKV
      where: merchantOperatingCityId

    findExotelAppletMappingByMOCID:
      kvFunction: findOneWithKV
      where: merchantOperatingCityId

  beamInstance:
    - MakeTableInstances
    - Custom Domain.Types.UtilsTH.mkCacParseInstance

  sqlType:
    emailOtpConfig: "json"
    kaptureConfig: "json"
    exotelAppIdMapping: "json"
    cxAgentDetails: text []
    sensitiveWords: text []
    sensitiveWordsForExactMatch: text []
    permissibleModes: text []

  extraOperations:
    - EXTRA_DOMAIN_TYPE_FILE
