nix_direnv_watch_file \
    Backend/lib/*/*.cabal Backend/app/*/*.cabal Backend/app/*/*/*.cabal Backend/app/*/*/*/*.cabal Backend/test/*.cabal \
    Backend/cabal.project \
    nix/* \
    Backend/*.nix \
    Backend/nix/*
use flake
