nix_direnv_watch_file \
    Backend/lib/*/package.yaml Backend/app/*/*/*/package.yaml Backend/app/*/*/package.yaml Backend/app/*/*/*/package.yaml Backend/test/package.yaml \
    Backend/hie.yaml \
    Backend/cabal.project \
    nix/*
use flake
