.vscode/tasks.json

# Nix
result
result-*
.direnv
/.pre-commit-config.yaml
.envrc
## Data directory used by services
/data

# Backend ignores
dist-newstyle
/data

# Frontend ignores
Frontend/.DS_Store
Frontend/.psc-ide-port
Frontend/package-lock.json
Frontend/android-native/app/driverProd/debug/output-metadata.json
Frontend/android-native/app/driverProd/release/output-metadata.json
Frontend/android-native/package-lock.json

# Non-nix bans
Makefile
docker-compose.yml
docker-compose.yaml
stack.yaml

