.vscode/tasks.json

# Backend ignores
.direnv
/result
/.pre-commit-config.yaml
dist-newstyle

Frontend/.DS_Store
Frontend/package-lock.json
Frontend/android-native/app/driverProd/debug/output-metadata.json
Frontend/android-native/app/driverProd/release/output-metadata.json
Frontend/android-native/package-lock.json
