*~
.psc-ide-port
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.vscode/
**/.DS_Store
*.vim
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
dhall-configs/dev/secrets/top-secret.dhall
dev/rest-client/dashboard/top-secret/
*.gpx
*.csv
other
s3
/dev/osrm/*
!/dev/osrm/README
!/dev/osrm/Dockerfile.osrm
*Generate*

# load test files
.dev/load-test/*.json

.hie-bios-cache
.cabal-dir

# load test files
load-test/bin
load-test/lib
load-test/include
load-test/__pycache__
load-test/scripts/__pycache__
load-test/pyvenv.cfg
load-test/output
load-test/tokens
