<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="START_ACTIVITIES_FROM_BACKGROUND" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_SMS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application>
        <activity
            android:name=".RideRequestActivity"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CheckPermissionOverlay"
            android:exported="true" />

        <receiver
            android:name=".BootUpReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.clevertap.android.sdk.pushnotification.CTPushNotificationReceiver"
            android:exported="false"
            android:enabled="true">
        </receiver>
        <service
            android:name=".LocationUpdateService"
            android:exported="false"
            android:foregroundServiceType="location"
            android:largeHeap="true"
            android:stopWithTask="false" />
        <service
            android:name=".GRPCNotificationService"
            android:exported="false"
            android:largeHeap="true"
            android:stopWithTask="false" />
        <service
            android:name=".WidgetService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" />
        <service android:name=".OverlayMessagingService"
            android:enabled="true"
            android:exported="true"
            android:largeHeap="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_round" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            tools:replace="android:resource"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            tools:replace="android:value"
            android:value="General" />

        <receiver
            android:name=".ChatBroadCastReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".FCMBundleUpdateBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".GPSBroadcastReceiver"
            android:enabled="true"
            android:exported="false"/>
        <receiver
            android:name=".GpsListeningService$LocationBroadcastReceiver"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name=".OverlaySheetService"
            android:enabled="true"
            android:exported="true"
            android:largeHeap="true" />
        <service
            android:name=".GpsListeningService"
            android:exported="false"
            android:foregroundServiceType="location"
            android:stopWithTask="false" />
        <service
            android:name=".ChatService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:stopWithTask="false" />
       

        <service android:name=".OverlayMessagingService"
            android:enabled="true"
            android:exported="true"
            android:largeHeap="true" />

        <service android:name=".MessageOverlayService"
            android:enabled="true"
            android:exported="true"
            android:largeHeap="true" />
        <service android:name=".RemoteAssetsDownloader"
            android:enabled="true"
            android:exported="true"
            android:largeHeap="true" />
        <activity android:name=".YoutubeVideoView"
            android:exported="false"
            android:resizeableActivity="true"
            />
        <activity android:name=".ReelsPlayerView"
            android:screenOrientation="portrait"
            android:exported="false"
            />
    </application>
</manifest>