<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_BASIC_PHONE_STATE" />

    <application android:hardwareAccelerated="true">
        <activity
            android:name="in.juspay.hypersdk.in.juspay.mobility.core.CustomtabActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name="in.juspay.hypersdk.in.juspay.mobility.core.CustomtabResult"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${applicationId}"
                    android:scheme="juspay" />

            </intent-filter>
        </activity>
    </application>
    <queries>
        <intent>
            <data
                android:host="pay"
                android:pathPattern=".*"
                android:scheme="upi" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <intent>
            <data
                android:host="mandate"
                android:pathPattern=".*"
                android:scheme="upi" />
        </intent>
        <intent>
            <data
                android:pathPattern=".*"
                android:scheme="upi" />
        </intent>
        <intent>
            <data
                android:host="pay"
                android:pathPattern=".*"
                android:scheme="juspay" />
        </intent>
        <intent>
            <data
                android:host="checkout"
                android:pathPattern=".*"
                android:scheme="credpay" />
        </intent>

        <package android:name="com.tatadigital.tcp.dev" />
        <package android:name="com.tatadigital.tcp" />

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/uri" />
        </intent>
    </queries>
</manifest>
