<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.juspay.mobility">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_SMS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:resizeableActivity="false"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="${isUsesCleartextTraffic}"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:allowBackup">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/fileProviderPath"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity
            android:name=".utils.CheckPermissionAutoStart"
            android:exported="true" />

        <receiver
            android:name=".BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".utils.MainActivityService" >
            <intent-filter>
                <action android:name="startActivity" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".utils.AcceptRejectOverlaySheet"
            android:exported="true" />
        <receiver
            android:name=".BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".utils.CheckPermissionOverlay"
            android:screenOrientation="portrait" />

        <service
            android:name=".utils.AcceptRejectOverlaySheetService"
            android:enabled="true"
            android:exported="true" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="@string/google_maps_key"/> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="YATRI">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="yathriapp.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="openkochi.net"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <data
                    android:host="becknuser.page.link"
                    android:pathPrefix="/"
                    android:scheme="https" />

                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name="com.journeyapps.barcodescanner.CaptureActivity" -->
        <!-- android:screenOrientation="fullSensor" -->
        <!-- tools:replace="screenOrientation" /> -->
        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.LocationService"
            android:exported="false"
            android:foregroundServiceType="location"
            android:stopWithTask="false" />
        <service
            android:name=".utils.LocationUpdateService"
            android:exported="false"
            android:foregroundServiceType="location"
            android:stopWithTask="false" />

        <service
            android:name=".utils.WidgetService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_round" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="General" />

        <receiver android:name=".utils.NotificationReciever" />

        <receiver
            android:name=".utils.NetworkBroadcastReceiver"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.ACCESS_NETWORK_STATE">
        </receiver>

        <service android:enabled="true" android:name=".utils.OverlaySheetService" android:exported="true"/>
    </application>

</manifest>