boto3==1.42.96
botocore==1.42.96
certifi==2026.2.25
charset-normalizer==3.4.6
idna==3.11
jmespath==1.1.0
markdown-it-py==4.0.0
mdurl==0.1.2
psycopg2-binary==2.9.11
Pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.32.5
rich==14.3.3
s3transfer==0.16.1
six==1.17.0
urllib3==2.6.3
websockets==16.0
wheel==0.45.1
