/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.xml
dist/android
dist/ios
dist/web
dist/pulp.js
dist/index_bundle.js
dist
src/UI/Screens/Controllers/EmptyTemp.purs
src/UI/Screens/Views/EmptyTemp.purs
package-lock.json
../Android/jp-android-lib-release/build/
.vscode
env
.DS_Store
**/**.jsa
.spago