*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
.project
./mystique/build/
**.classpath
**.jsa
**.apk
**output.json
.settings/
app/.settings/
app/src/driver/assets/juspay/index_bundle.js
app/src/user/assets/juspay/index_bundle.js
app/src/dev/google-services.json
app/src/release/
app/src/debug/
app/userProd/release/
app/userProd/debug/
app/nyUserProd/
app/nyDriverProd/
app/jsUserProd/
app/jsDriverProd/
app/yatriUserProd/
app/yatriDriverProd/
**/build/
.idea/modules.xml
yatri.txt
nammaYatri.txt
yatriSathi.txt
my-release-key.keystore