*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
.project
./mystique/build/
**.classpath
**.jsa
**.apk
**output.json
.settings/
app/.settings/
app/src/dev/google-services.json
app/src/release/
app/src/debug/
app/src/transporter/
app/transporterProd/debug/
app/transporterProd/release/
app/userProd/release/
app/userProd/debug/
**/build/
.idea/modules.xml