name: Auto Add Issues to Project

on:
  issues:
    types: [opened]

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@1.2.1
        with:
          project-url: https://github.com/orgs/nammayatri/projects/1
          github-token: ${{ secrets.GITHUB_TOKEN }}