<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>local_assets</key>
	<true/>
	<key>merchantId</key>
	<string>YATRI</string>
	<key>baseUrl</key>
	<string>https://www.kashmircabs.net/v2</string>
</dict>
</plist>
